kvan-todb.hualab.nl {
	tls internal
	encode zstd gzip

	@rdf_html {
		path /id* /def*
		header Accept *text/html*
		not path_regexp rdf_explicit_format ^/(id|def).*\.(ttl|json|jsonld)$
	}
	rewrite @rdf_html /?uri=https://{host}{path}
	reverse_proxy @rdf_html 127.0.0.1:8080

	@rdf path /id* /def* /resolver*
	reverse_proxy @rdf 127.0.0.1:8000

	reverse_proxy 127.0.0.1:8080
}
